/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
	color: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #FFFEF8;
}
main {
	padding: 0 245px;	
}
header {
	display: flex;
	flex-direction: column;
	align-items: space-between;
	justify-content: center;
	width: 100%;
}
footer {
	background-color: white;
	height: 60px;
	margin-top: auto;
    	display: flex;
    	justify-content: flex-end;
    	align-items: center;
	width: 100%;
}
section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
#edition-mode {
	background-color: black;
	color: white;
	padding: 19.5px 0;
	text-align: center;
	width: 100%;
	font-size: 16px;
	display: flex;
	justify-content: center;
	column-gap: 12px;
	display: none;
	position: fixed;
	top: 0;
	z-index: 2;
}
#navigation-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 50px auto;
	margin-bottom: 139px;
	max-width: 1140px;
}
nav {
	display: flex;
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	gap: 44px;
}
nav li {
	font-size: 1.2em;
}
#logout-button {
	display: none;
}
li:hover {
	color: #B1663C;
	cursor: pointer;
}
nav ul li img {
	height: 22px;
}
nav ul li img:hover {
	filter: brightness(0) saturate(100%) invert(45%) sepia(18%) saturate(2876%) hue-rotate(346deg) brightness(80%) contrast(73%);
}
#introduction {
	display: flex;
	align-items: center;
	max-width: 950px;
	margin: 0 auto;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	max-width: 474px;
	margin-right: 72px;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio {
	max-width: 950px;
	margin: 139px auto;
	margin-bottom: 57px;
}
#portfolio-header {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin-bottom: 51px;
}
#edit-projects {
	position: absolute;
	right: 50;
	margin-right: -320px;
	display: flex;
	align-items: center;
	gap: 5px;
	cursor: pointer;
	display: none;
}
#edit-projects i {
	margin-right: 5px;
}

.filters-container {
	display: flex;
	justify-content: center;
	column-gap: 10px;
	margin-bottom: 50px;
}
.filters-container button {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 1.14em;
	background-color: #FFFEF8;
	border: 1px solid #1D6154;
	border-radius: 60px;
	color: #1D6154;
	cursor: pointer;
}
.filters-container button:hover {
	background-color: #1D6154;
	color: white;
}
.filters-container button:nth-child(1) {
	padding: 9px 28px;
}
.filters-container button:nth-child(2) {
	padding: 9px 20px;
}
.filters-container button:nth-child(3) {
	padding: 9px 14px;
}
.filters-container button:nth-child(4) {
	padding: 9px 10px;
}
.filters-container button.active {
	background-color: #1D6154;
	color: white;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 18px;
	grid-row-gap: 16px;
}

.gallery img {
	width: 100%;
	height: 407px;
	margin-bottom: 7px;
	object-fit: cover;
}

.form-container {
	width: 379px;
	margin: auto;
}
.form-container > * {
	text-align: center;

}
.form-container h2 {
	margin-bottom: 9px;
}
.form-container form {
	text-align: left;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
}
.form-container input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.form-container label {
	margin: 2em 0 1em 0;
	font-weight: 600;
	color: #3D3D3D;
}
.form-container input[type="submit"]{
	font-family: 'Syne';
	font-size: 1em;
	font-weight: 500;
	color: white;
	background-color: #1D6154;
	margin : 40px auto ;
	width: 179px;
	height: 36px;
	text-align: center;
	border-radius: 60px;
	cursor: pointer;
}
.form-container select {
	height: 50px;
	font-size: 1.2em;
	border: none;
	background-color: white;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.form-container input:hover[type="submit"]{
	background-color: #0E2F28;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#login .forgot-password {
	display: inline-block;
	text-align: center;
	color: #3D3D3D;
	font-weight: 600;
	text-decoration: none;
	border-bottom: 1px solid #3D3D3D;
	padding-bottom: 1px;
}
#login {
	text-align: center;
}

footer nav li {
	margin-right: 107px;
}

.modal {
	width: 630px;
	position: relative;
	display: none;
	flex-direction: column;
	align-items: center;
	border: none;
	border-radius: 10px;
	padding: 0px;
}
.modal::backdrop{
	background-color: rgba(0, 0, 0, 0.3);
}
.modal[open] {
	display: flex;
	position: fixed;
}
.modal h2 {
	margin: 60px 0 46px 0;
	font-family: 'work sans';
	font-weight: 500;
	font-size: 26px;
	color: #000000;
}
#close-modal {
	position: absolute;
	top: 26px;
	right: 30px;
	font-size: 20px;
	cursor: pointer;
}
.gallery-modal {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 9px;
	width: 420px;
	margin-bottom: 67px;
}
.gallery-modal img {
	width: 100%;
	height: auto;
}

.work-modal {
	position: relative;
}

.work-modal .delete-icon {
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
	background-color: #000000;
	color: white;
	border-radius: 2px;
	padding: 4px;
	font-size: 10px;
}
.line-modal {
	width: 420px;
	height : 1px;
	background-color: #B3B3B3;
	margin-bottom: 38px;
}

.btn-modal {
	font-family: 'Syne';
	padding: 10px 49px;
	border-radius: 60px;
	border: none;
	background-color: #1D6154;
	color: white;
	margin-bottom: 45px;
	cursor: pointer;
}
.btn-modal:focus {
	outline: none;
}
#gallery-view {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#add-photo-view {
	display: none;
	flex-direction: column;
	align-items: center;
}
#back-arrow {
	position: absolute;
	left : 30px;
	top: 26px;
	font-size: 20px;
	cursor: pointer;
}
#add-photo-view .form-container {
	width: 100%;
	margin: 0;
}
#add-photo-view h2{
	margin-bottom: 36px;
}
#add-photo-view .form-container form {
	display: flex;
	flex-direction: column;
	width: 420px;
	margin-top: 0;
}
#add-photo-view .upload-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 0px;
	
}
#add-photo-view .upload-label {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 169px;
	width: 420px;
	background-color: #E8F1F6;
	margin-top: 0;
	margin-bottom: 2px;
	position: relative;
}
#preview-container {
	position: absolute;
	height: 169px;
	width: 420px;
	background-color: #E8F1F6;
	display: flex;
	justify-content: center;
	align-items: center;
}
#preview-image {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
	display: block;
	margin: 0 auto;
}
#add-photo-view .fa-image {
	margin-top: 22.5px;
	font-size: 60px;
	color: #B9C5CC;
}
#add-photo-view span {
	background-color: #CBD6DC;
	color: #306685;
	font-weight: 600;
	padding: 10px 33px;
	border-radius: 50px;
	margin-top: 12.88px;
}
#add-photo-view p{
	font-size: 10px;
	color: #444444;
	font-weight: 500;
	margin-top: 7px;
}
#add-photo-view .form-container input:focus {
	outline: none;
}
#add-photo-view .form-container select:focus {
	outline: none;
}
#add-photo-view .form-container input[type="submit"] {
	height: 36px;
	width: 237px;
	margin-top: 32px;
	margin-bottom: 55px;
}
#add-photo-view .form-container input[type="submit"]:disabled {
	background-color: #A7A7A7;
	cursor: not-allowed;
}
#add-photo-view .line-modal {
	margin-top: 47px;
	margin-bottom: 4px;
}